<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
</head>

<style>
  figure {
    margin: 15px 0;
  }

  figcaption {
    text-align: center;
  }

  .grayscale {
    filter: grayscale(0);
  }

  .grayscale:hover {
    filter: grayscale(50%)
  }


</style>
</head>

<body>


  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="static/img/brand/tact.jpg" width="70" height="70" alt="">
    </a>


    <h1 class="text-center" style="color: black; margin-right: -3rem;">TACT GALLERY</h1>

    <a href='/add'>
      <button type="submit" class="btn btn-primary my-4" style="float:right; background-color: rgb(115,102,228);">Add
        pictures</button>
    </a>

  </nav>

  <hr class="rounded" style="border-top: 8px solid rgb(115,102,228);border-radius: 5px;">

  <!-- <div class="container-fluid">

    <div class="jumbotron" style="background-color: rgb(115,102,228);">
   
  
     <p class="text-center">Upload Pictures</p>
     
    </div>
 -->

  <br><br>
  {% if names %}

  <div class="row">

    {% for name in names %}



    <div class="col-sm-6 col-md-4 col-lg-3">

      {% for Name, url in name.items() %}



      <figure style="background-color: whitesmoke;">

        {% if 'http' in url %}

        <!-- <p>{{ url }}</p> -->

        <img src="{{ url }}" class="img-thumbnail grayscale">

        <br><br>


        <form action = "/" method = "POST" enctype = "multipart/form-data">

          
          <div class="like-number">
            <p><span id="likes" name="like">0</span>Likes</p>
          </div>
          
          
          <div class="like-icon">

            <!-- Hit Like:<input type="button" value="{{ name["Name"] }}" name="like"> -->
            
            Like : <button onclick="likes()">
              <i class="far fa-thumbs-up"></i>
            </button>
            
        </form>

      <h5>Name: {{ name["Name"] }}</h5>

        <!-- <span style="font-size: 20px; color: black;">
          Like: <i class="far fa-thumbs-up" ></i>
        </span> -->
        
       
          {% endif %}


      </figure>


      {% endfor %}

    </div>

    {% endfor %}


  </div>

  {% endif %}


  {% if videos %}

  {% for video in videos %}

  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure>

        <video class="img-thumbnail grayscale">
          <source src="{{ video }}" type="video/mp4">
        </video>
        <figcaption>URL : {{ video }}</figcaption>
      </figure>
    </div>
  </div>

  {% endfor %}

  {% endif %}
  </div>
  <br><br>

  <script>
    var numLikes = 0;


    function likes() {
      numLikes = numLikes + 1;
      document.getElementById("likes").innerHTML = numLikes;

    }


  </script>


</body>

</html>